.loading{
    text-align: center;
    height: 100vh;
    padding: 1rem;
    font-weight: bold;
}
.home{
    display: flex;
    background-color: #f6f6f6  ;
}
.home h1 {
    text-align: center;
    margin-bottom: 1rem;
}
.div-receitas-links{
    max-width: 20%;
    margin: 1rem;
    
}
.recipe-title{
    color: rgb(70, 70, 70);
}
.recipe-title:hover{
    text-decoration: underline;
}
.recipes-links{
    margin: 1rem;
}
.div-receitas-links h4{
    margin: 0.5rem;
}
.div-receitas-links h2{
    margin: 0.5rem;
    text-align: center;
}
.recipescontainer{
    width: 100;
    background-color: #fff;
    padding: 2rem;
}
.div-receitas-links p {
    text-indent: 20px;
    margin: 0.5rem;
}
.recipescontainer h3{
    padding: 0.5rem;
}

.recipescontainer h2 {
    font-size: 28px;
}

.recipescontainer p {
    text-indent: 20px;
}

.recipe-cont{
    background: #f6f6f6   ;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: 1rem;
}

@media (max-width: 700px){
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .div-receitas-links{
        max-width: 100%;
        margin: 1rem;
        
    }
    .recipescontainer{
        width: 100vw;
        background-color: #fff;
        padding: 2rem;

    }
    .recipescontainer p{
        font-size: 14px;
        margin: 0.5rem;
    }
    .recipescontainer h3{
        font-size: 15px;
    }
    .recipescontainer h2{
        font-size: 18px;
    }
    .img{
        width: 300px;
    }
}

@media (min-width: 700px) and (max-width: 800px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .div-receitas-links{
        max-width: 100%;
        margin: 1rem;
        
    }
    .recipescontainer{
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}